<html>
  <head>
    <title>Chattrbox</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    
  </head>

  <body class="container chat-wrapper">

    <header class="chat-app-header">
      <h1><%= name%><i class='fas fa-comments' style='font-size:36px'></i></h1>
    </header>


        <h1></h1>
       
    <section class="chat-input was-validated">
     <form action="/" method="post">
       
    <div class="form-group">
      <label for="sel1">Select list (select one):</label>
      <select class="form-control" id="sel1" name="sellist1">
        <option value="certificate">certificate</option>
        <option value="studentsName">students Web Info</option>
        <option value="avaliableCourseToRegister">avaliableCourseToRegister</option>
        <option value="courseInfo">courseInfo</option>
        </select>

    </div>
         
    <button type="submit" class="btn btn-primary">Submit</button>
      
  </form>
        
    </section>
      <br>
<script>

      </script>
      
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>

